<a href="https://colab.research.google.com/github/davnnis2003/ds-showncase/blob/windows_store_app/Windows_Store_Apps/Windows_Store_Apps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/msft.csv', index_col = 'Date')
df.head()

                                                         Name  ...  Price
Date                                                           ...
07-01-2014                                     Dynamic Reader  ...   Free
08-01-2014  Chemistry, Organic Chemistry and Biochemistry-...  ...   Free
29-02-2016                                         BookViewer  ...   Free
30-01-2018                                 Brick Instructions  ...   Free
30-01-2018  Introduction to Python Programming by GoLearni...  ...   Free

[5 rows x 5 columns]

In [79]:
# Data Cleaning
df_clean = df 

df_clean['Price'] = df['Price'].str.strip('₹') # clean the dirty value of the Price column
df_clean = df_clean.replace({'Free': '0', ',':''}) # Replace the "Free" with 0
df_clean['Price'] = df_clean['Price'].astype('float64') #TODO: fix the `,` & `.` as it is blocking the data type casting
df_clean = df_clean.dropna() # Get rid of the complete NaN row of record

df_clean.tail(50)
# df_clean

ValueError: ignored

In [37]:
df_clean.describe()

            Rating  No of people Rated
count  5321.000000         5321.000000
mean      3.792708          551.798722
std       0.991681          259.787733
min       1.000000          100.000000
25%       3.500000          327.000000
50%       4.000000          548.000000
75%       4.500000          779.000000
max       5.000000         1000.000000

In [26]:
df.groupby('Category')['Price'].mean()

DataError: ignored